<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div class="login">
        <div class="center">
            <div class="main">
                <div class="title"></div>
                <form action="admin.html">
                    <div class="inputLi">
                            <input type="text" class="user" autofocus="autofocus" title="账户" placeholder="请输入账户" required>
                    </div>
                    <div class="inputLi">
                            <input type="password" class="pwd" title="密码" placeholder="请输入密码" required>
                    </div>
                    <div class="inputLi">
                            <input type="text" class="code" title="验证码" placeholder="请输入验证码" required>
                            <img src="../../static/dist/imgs/vcode.png" class="codeImg" title="点击可换新验证码">
                    </div>

                    <div class="button-group">
                        <button>登录</button>
                    </div>
                 </form>
            </div>
        </div>
    </div>
   
</body>

</html>