<div class="public_box">
    <h1 class="title">
        <strong>图片列表</strong>
        <div class="articleTop">
            <div class="win-input">
                <input type="search" class="text-serach" placeholder="请输入关键词检索文档">
                <button class="button-normal" id="alertbox">搜索</button>
            </div>
            <span>
                    <a class="button-normal button-search" href="#">图片列表</a>
                    <a class="button-normal button-add" href="picture-create.html">创建图片</a>
                </span>
        </div>
    </h1>
    <table class="table-default mb10">
        <tr>
            <th width="50">选择</th>
            <th width="60">ID</th>
            <th width="255">图片名称</th>
            <th width="160">链接</th>
            <th width="40">封面</th>
            <th width="80">所属栏目</th>
            <th width="80">打开方式</th>
            <th width="80">状态</th>
            <th width="150">更新时间</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>
                <label class="label-checkbox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkbox-name"> </span>
                </label>
            </td>
            <td>1</td>
            <td><a href="" title="" class="write_link">本UI由聚影网赞助开发,请勿盗用...</a></td>
            <td><a href="" title="" class="write_link">http://www.weichouys.com</a></td>
            <td><a href="" title="" class="write_link"><img src="../../static/dist/imgs/smImg.png" width="19"
                                                            height="14"></a></td>
            <td><a href="" title="" class="write_link">公司新闻</a></td>
            <td>新建窗口</td>
            <td>
                <div class="switch">
                    <div class="state" data-switch="1"></div>
                    <span>正常</span>
                </div>
            </td>

            <td>2019-11-17 15:55:09</td>
            <td>
                <button class="button-small button-edit">编辑</button>
                <button class="button-small button-del">删除</button>
            </td>
        </tr>
        <tr>
            <td>
                <label class="label-checkbox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkbox-name"> </span>
                </label>
            </td>
            <td>1</td>
            <td><a href="" title="" class="write_link">本UI由聚影网赞助开发,请勿盗用...</a></td>
            <td><a href="" title="" class="write_link">http://www.weichouys.com</a></td>
            <td><a href="" title="" class="write_link"><img src="../../static/dist/imgs/smImg.png" width="19"
                                                            height="14"></a></td>
            <td><a href="" title="" class="write_link">公司新闻</a></td>
            <td>新建窗口</td>
            <td>
                <div class="switch">
                    <div class="state" data-switch="1"></div>
                    <span>正常</span>
                </div>
            </td>

            <td>2019-11-17 15:55:09</td>
            <td>
                <button class="button-small button-edit">编辑</button>
                <button class="button-small button-del">删除</button>
            </td>
        </tr>

        <tr>
            <td>
                <label class="label-checkbox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkbox-name"> </span>
                </label>
            </td>
            <td>1</td>
            <td><a href="" title="" class="write_link">本UI由聚影网赞助开发,请勿盗用...</a></td>
            <td><a href="" title="" class="write_link">http://www.weichouys.com</a></td>
            <td><a href="" title="" class="write_link"><img src="../../static/dist/imgs/smImg.png" width="19"
                                                            height="14"></a></td>
            <td><a href="" title="" class="write_link">公司新闻</a></td>
            <td>新建窗口</td>
            <td>
                <div class="switch">
                    <div class="state" data-switch="1"></div>
                    <span>正常</span>
                </div>
            </td>

            <td>2019-11-17 15:55:09</td>
            <td>
                <button class="button-small button-edit">编辑</button>
                <button class="button-small button-del">删除</button>
            </td>
        </tr>

        <tr>
            <td>
                <label class="label-checkbox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkbox-name"> </span>
                </label>
            </td>
            <td>1</td>
            <td><a href="" title="" class="write_link">本UI由聚影网赞助开发,请勿盗用...</a></td>
            <td><a href="" title="" class="write_link">http://www.weichouys.com</a></td>
            <td><a href="" title="" class="write_link"><img src="../../static/dist/imgs/smImg.png" width="19"
                                                            height="14"></a></td>
            <td><a href="" title="" class="write_link">公司新闻</a></td>
            <td>新建窗口</td>
            <td>
                <div class="switch">
                    <div class="state" data-switch="1"></div>
                    <span>正常</span>
                </div>
            </td>

            <td>2019-11-17 15:55:09</td>
            <td>
                <button class="button-small button-edit">编辑</button>
                <button class="button-small button-del">删除</button>
            </td>
        </tr>

        <tr>
            <td>
                <label class="label-checkbox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkbox-name"> </span>
                </label>
            </td>
            <td>1</td>
            <td><a href="" title="" class="write_link">本UI由聚影网赞助开发,请勿盗用...</a></td>
            <td><a href="" title="" class="write_link">http://www.weichouys.com</a></td>
            <td><a href="" title="" class="write_link"><img src="../../static/dist/imgs/smImg.png" width="19"
                                                            height="14"></a></td>
            <td><a href="" title="" class="write_link">公司新闻</a></td>
            <td>新建窗口</td>
            <td>
                <div class="switch">
                    <div class="state" data-switch="1"></div>
                    <span>正常</span>
                </div>
            </td>

            <td>2019-11-17 15:55:09</td>
            <td>
                <button class="button-small button-edit">编辑</button>
                <button class="button-small button-del">删除</button>
            </td>
        </tr>

        <tr>
            <td>
                <label class="label-checkbox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkbox-name"> </span>
                </label>
            </td>
            <td>1</td>
            <td><a href="" title="" class="write_link">本UI由聚影网赞助开发,请勿盗用...</a></td>
            <td><a href="" title="" class="write_link">http://www.weichouys.com</a></td>
            <td><a href="" title="" class="write_link"><img src="../../static/dist/imgs/smImg.png" width="19"
                                                            height="14"></a></td>
            <td><a href="" title="" class="write_link">公司新闻</a></td>
            <td>新建窗口</td>
            <td>
                <div class="switch">
                    <div class="state" data-switch="1"></div>
                    <span>正常</span>
                </div>
            </td>

            <td>2019-11-17 15:55:09</td>
            <td>
                <button class="button-small button-edit">编辑</button>
                <button class="button-small button-del">删除</button>
            </td>
        </tr>

        <tr>
            <td>
                <label class="label-checkbox">
                    <input type="checkbox" name="checkbox">
                    <span class="checkbox-name"> </span>
                </label>
            </td>
            <td>1</td>
            <td><a href="" title="" class="write_link">本UI由聚影网赞助开发,请勿盗用...</a></td>
            <td><a href="" title="" class="write_link">http://www.weichouys.com</a></td>
            <td><a href="" title="" class="write_link"><img src="../../static/dist/imgs/smImg.png" width="19"
                                                            height="14"></a></td>
            <td><a href="" title="" class="write_link">公司新闻</a></td>
            <td>新建窗口</td>
            <td>
                <div class="switch">
                    <div class="state" data-switch="1"></div>
                    <span>正常</span>
                </div>
            </td>

            <td>2019-11-17 15:55:09</td>
            <td>
                <button class="button-small button-edit">编辑</button>
                <button class="button-small button-del">删除</button>
            </td>
        </tr>
    </table>
    <div class="actionBtnGroup">
        <button class="button-normal button-add mr10">全选</button>
        <button class="button-normal button-del">删除</button>
    </div>
</div>
<!-- // 承接网站建设,网页设计,画册设计,LOGO设计,前端开发等业务！ QQ:951252660,本UI由聚影网赞助开发www.weichouys.com,切勿用户商业用途,盗用自重,仅在17素材网发布,其他网站均未发布,盗用并改为自己原创的请自重,如果您对本UI感兴趣,可加本人好友索取未经打包压缩后的源码,免费赠送 -->

<script src="./js/JQuery2.1.4.js"></script>
<script src="./js/alert.js"></script>
<script>
    $(function () {
        $('.button-del').click(function () {
            popupAlert({
                title: "您真的要删除当前这个类目么？",
                info: "当前栏目AAAA123456",
                btnSure: "确定",
                btnCancel: "取消"
            }, function (sure) {
                tipAlert({
                    title: "删除成功",
                    state: "true", //true成功 fail失败
                    time: 1 //3秒后关闭
                });
            }, function (cancel) {
            });
        })
    })
</script>